<!-- round/show -->
<div class='container'>
	<div class='card'>
		<!-- put random card -->
	<%  %>
	<%= @pile.sample.question %>
	</div>
</div>

<div class='guess'>
  <input type='text' class='guess' name='guess'>
  <% erb :'_answer',layout: false, locals: { guess: guess } %>
  <!-- <input type='sumbit' value='Check Answer!'> -->
</div>
