<div class='container'>
  <h1>Create an account</h1>
  <div class='create_user'>
    <form method='post' name='new_user' action='/users'>
      <label for='name'>Email:</label>
      <input type='text' name='email'>
      <br>
      <label for='password'>Password:</label>
      <input type='password' name='password'>
      <br>
      <label for='confirm'>Confirm password:</label>
      <input type='password' name='confirm'>
      <br>
      <input type='submit' value='Submit'>
    </form>
  </div>
</div>
